<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--mapper 태그는 sql을 매핑할때 사용하는 태그
    nmaespace 속성에는 사용할 인터페이스의 풀 패키지경로 + 인터페이스이름
-->
<mapper namespace="com.project.web_prj.board.repository.BoardMapper">


    <insert id="save">
        INSERT INTO tbl_board
        (board_no, writer, title, content)
        VALUES (seq_tbl_board.nextval, #{writer}, #{title}, #{content})
    </insert>

    <delete id="remove">

        DELETE FROM tbl_board WHERE board_no = #{boardNo}

    </delete>


    <update id="modify">

        UPDATE tbl_board
        SET writer = #{writer}, title = #{title} , content = #{content}
        WHERE board_no = #{boardNo}

    </update>


    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*) AS cnt FROM tbl_board
    </select>


    <update id="upViewCount">
        UPDATE tbl_board SET view_cnt = view_cnt +1 WHERE board_no = #{boardNo}
    </update>

    <resultMap id="boardMapper" type="com.project.web_prj.board.domain.Board">
        <result property="boardNo" column="board_no"></result>
        <result property="viewCnt" column="view_cnt"></result>
        <result property="regDate" column="reg_date"></result>
    </resultMap>


    <select id="findAll" resultMap="boardMapper">
        SELECT *
        FROM (
        SELECT ROWNUM rn, v_board.*
        FROM (
        SELECT *
        FROM tbl_board
        ORDER BY board_no DESC

        ) v_board
        )
        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})

    </select>

    <select id="findOne" resultMap="boardMapper">
        SELECT * FROM tbl_board
        WHERE board_no = #{boardNo}

    </select>

    <select id="findAll2" resultMap="boardMapper">
        SELECT  *
            FROM (
                SELECT ROWNUM rn, v_board.*
                        FROM (
                            SELECT *
                            FROM tbl_board
                            <if test="type == 'title'">WHERE title LIKE '%' || #{keyword} || '%'</if>
                            <if test="type == 'writer'">WHERE writer LIKE '%' || #{keyword} || '%'</if>
                            <if test="type == 'content'">WHERE content LIKE '%' || #{keyword} || '%'</if>
                            <if test="type == 'tc'">
                                WHERE title LIKE '%' || #{keyword} || '%'
                                OR content LIKE '%' || #{keyword} || '%'
                            </if>
                            ORDER BY board_no DESC
                            ) v_board
         )
        WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})
    </select>


</mapper>

        <!--
        <?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <mapper namespace="com.project.web_prj.board.repository.BoardMapper">

            <resultMap id="boardMap" type="com.project.web_prj.board.domain.Board">
                <result property="boardNo" column="board_no" />
                <result property="regDate" column="reg_date" />
                <result property="viewCnt" column="view_cnt" />
            </resultMap>

            <insert id="save">
                INSERT INTO tbl_board
                (board_no, writer, title, content)
                VALUES (seq_tbl_board.nextval, #{writer}, #{title}, #{content})
            </insert>

            <select id="findAll" resultMap="boardMap">
                SELECT  *
                FROM (SELECT ROWNUM rn, v_board.*
                        FROM (
                                SELECT *
                                FROM tbl_board
                                ORDER BY board_no DESC
                                ) v_board)
                WHERE rn BETWEEN (#{pageNum} - 1) * #{amount} + 1 AND (#{pageNum} * #{amount})
            </select>

            <select id="findOne" resultMap="boardMap">
                SELECT * FROM tbl_board
                WHERE board_no=#{boardNo}
            </select>

            <delete id="remove">
                DELETE FROM tbl_board
                WHERE board_no=#{boardNo}
            </delete>

            <update id="modify">
                UPDATE tbl_board
                SET writer = #{writer}, title=#{title}, content=#{content}
                WHERE board_no=#{boardNo}
            </update>

            <select id="getTotalCount" resultType="int">
                SELECT COUNT(*)
                FROM tbl_board
            </select>

            <update id="upViewCount">
                UPDATE tbl_board
                SET view_cnt = view_cnt + 1
                WHERE board_no=#{boardNo}
            </update>

        </mapper>

        -->